{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create an account{% endblock %}
{% block content %}
<div class="container mt-5 w-50">
    <h1>Create an account</h1>
    <p>Please, sign up using the following form:</p>
    <form id="signupForm" method="post">
        {{ user_form|crispy }}
        {% csrf_token %}
        <input type="submit" value="Create my account" class="btn btn-success btn-lg">
    </form>
</div>

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        // catch the form's submit event
        $('#id_username').keyup(function () {
            // create an AJAX call
            $.ajax({
                data: $(this).serialize(), // get the form data
                url: "{% url 'validate_username' %}",
                // on success
                success: function (response) {
                    if (response.is_taken == true) {
                        $('#id_username').removeClass('is-valid').addClass('is-invalid');
                        $('#id_username').after(
                            '<div class="invalid-feedback d-block" id="usernameError">This username is not available!</div>'
                        )
                    } else {
                        $('#id_username').removeClass('is-invalid').addClass('is-valid');
                        $('#usernameError').remove();

                    }

                },
                // on error
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response.responseJSON.errors)
                }
            });

            return false;
        });
    })
</script>
{% endblock javascript %}
{% endblock %}