{% extends "base.html" %}
{% load static %}

{% block title %} Submit Traffic {% endblock %}
{% block content %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{form.media}}
<div class="card">
  <div class="card-header">
    <h1>Send Traffic to the Database</h1>
  </div>
  <div class="container pt-5">
    <form id='add_traffic' method='POST' action="{% url "logger:add_traffic" %}" enctype='multipart/form-data'
      novalidate id='traffic-form'>{% csrf_token %}
      <div class='form-row'>
        <div class='form-group col-md6 mb-3'>
          {{ form.docname|as_crispy_field }}
          {{ form.docdate|as_crispy_field }}
        </div>
      </div>
      <div class='row'>
        <div class='col-md-2 margin-fix'>
          {{ form.category|as_crispy_field }}
        </div>
        <div class="col-md-1 margin-fix">
          <a href='create_cat/' id='add_cat' onclick='return showAddPopup(this);'><img
              src="{% static '/images/img_20076.png' %}" class="rounded-right" width='16' height='16'
              title='Add a category if is not listed'></a>
        </div>
        <style>
          .margin-fix {
            margin-left,
            margin-right: 0px;
          }
        </style>
      </div>
      <div class='form-row'>
        <div class='form-group col-md6 mb-3'>
          {{ form.grids|as_crispy_field }}
          {{ form.source|as_crispy_field }}
        </div>
      </div>
      <div class='form-row'>
        <div class='form-group col-md6 mb-3'>
          {{ form.PIR|as_crispy_field }}
          {{ form.status|as_crispy_field }}
        </div>
      </div>
      <div class='form-row'>
        {{ form.tags|as_crispy_field}}
      </div>
      <div class='form-row'>
        <div class='form-group col-md6 mb-3'>
          {{ form.fulltext|as_crispy_field }}
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Send Traffic</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}

{% block script %}
<script>
  $("#edit_cat").click(function () {
    event_name = $("#id_event_type option:selected").text();
    var data = {
      'event_id': event_id
    };
    $.ajax({
      type: 'GET',
      url: '/category/ajax/get_cat_id',
      data: data,
      success: function (data) {
        var url = "/category/" + data['event_id'];
        showEditPopup(url);
      },
      error: function (data) {
        alert("Something Went Wrong");
      }
    });
  })
</script>
{% endblock %}