{% extends "logger/base.html" %}
{% load static %}

{% block title %} Submit Traffic {% endblock %}
{% block content %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{form.media}}

<div class="container">
  <h1>Send Traffic to the Database</h1>
  <form id='add_traffic' method='POST' action='{% url 'logger:add_traffic' %}' enctype='multipart/form-data' novalidate
    id='traffic-form'>{% csrf_token %}
    <table>
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Send Traffic</button>
    </table>
  </form>

  {% endblock content %}

  {% block script %}
  <script type="text/javascript">
    /*function showEditPopup(url) {
      var win = window.open(url, "Edit", 
          'height=500,width=800,resizable=yes,scrollbars=yes');
      return false;
  }*/
    function showAddPopup(triggeringLink) {
      var name = triggeringLink.id.replace(/^add_/, '');
      href = triggeringLink.href;
      var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
      win.focus();
      return false;
    }

    function closePopup(win, newID, newRepr, id) {
      $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
      win.close();
    }
  </script>
  {% endblock %}

  $("#edit_cat").click(function(){
  event_name = $("#id_event_type option:selected").text();
  var data = {'event_id' : event_id};
  $.ajax({
  type : 'GET',
  url : '/category/ajax/get_cat_id',
  data : data,
  success : function(data){
  var url = "/category/" + data['event_id'];
  showEditPopup(url);
  },
  error: function(data) {
  alert("Something Went Wrong");
  }
  });
  })